DISCORD_TOKEN=PUT_YOUR_DISCORD_BOT_TOKEN_HERE
BOT_PREFIX=!

LAVALINK_HOSTNAME=lavalink
LAVALINK_PASSWORD=CHANGE_ME
LAVALINK_PORT=2333
LAVALINK_SECURED=false

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=dc_bot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
APPLE_MUSIC_API_TOKEN=
DEEZER_ARL=
YANDEX_MUSIC_ACCESS_TOKEN=